body {
    margin: 0;
}

#maintext {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    width: 800px;
    border: 1px solid red;
}

/* Fading */
.char.fading {
    transition: opacity var(--duration);
    opacity: 0;
}

/* Physarum */
svg#physarum {
    width: 100vw;
    height: 100vh;
}